APP_NAME="WoW GM Webpanel"
APP_SECRET_KEY="change-this-with-openssl-rand-hex-32"
APP_BASE_URL="http://localhost"
APP_LANG="de"
PANEL_DB_URL="mysql+pymysql://wowpanel:change-me@localhost/wow_gm_webpanel?charset=utf8mb4"
CONFIGURED="false"
