{% extends "base.html" %}{% block content %}
<table><tr><th>Datei</th><th>Kategorie</th><th>Schlüssel</th><th>Wert</th><th>Typ</th><th>Beschreibung</th><th></th></tr>
{% for o in options %}
<tr><td>{{ o.file }}</td><td>{{ o.category }}</td><td>{{ o.key }}</td><td>
<form method="post" action="/configs/save" class="inline"><input type="hidden" name="csrf" value="{{ csrf }}"><input type="hidden" name="path" value="{{ o.file }}"><input type="hidden" name="key" value="{{ o.key }}"><input name="value" value="{{ '********' if o.sensitive else o.value }}"></td><td>{{ o.type }}</td><td><small>{{ o.description }}</small></td><td><button>Speichern</button></form></td></tr>
{% endfor %}
</table>
{% endblock %}
